[*.kt]
rulebook_punctuate_block_tags = @constructor
rulebook_allow_generics_names = A
rulebook_disallow_class_final_names = Hello, World
rulebook_disallow_identifier_names = mString, mList
rulebook_limit_file_size = 10
