[*.kt]
rulebook_illegal_variable_names = mString, mList
rulebook_meaningless_words = Hello, World
rulebook_max_file_size = 10
rulebook_member_order = companion, function, constructor, initializer, property
rulebook_punctuate_block_tags = @constructor
