local.addon.json
sample-configured/local.custom_addon.json

# macOS
.DS_Store
._*

# Gradle
.gradle/
build/
local.properties

# MkDocs
site/
!website/docs

# IDEA
*.iml
.idea/
out/

# PyCharm
.venv/
.pytest_cache/
__pycache__/
*.egg-info/
.coverage
dist/

# WebStorm
node_modules/
/docs/
coverage/
test-report.junit.xml

# CLion
cmake-build-debug/
