version: 2.1

orbs:
  codecov: codecov/codecov@3

executors:
  linux:
    docker:
      - image: hanggrian/cimg-multiplatform:openjdk21.0-python3.13-node

jobs:
  upload-coverage:
    executor: linux
    steps:
      - checkout
      - run: ./gradlew check koverXmlReport
      - run: |
          pip install -r requirements-dev.txt
          pytest rulebook-cppcheck --cov=rulebook-cppcheck
          pytest rulebook-pylint --cov=rulebook-pylint --cov-append
      - run: npm i && npm run test && npm run coverage
      - codecov/upload

workflows:
  build:
    jobs:
      - upload-coverage
