[default]
todo.comment.keyword=Capitalize keyword '%s'.
todo.comment.separator=Omit separator '%s'.
trailing.comma.single=Remove trailing comma.
trailing.comma.multi=Put trailing comma.
# Clipping
block.comment.clip=Convert into single-line.
parentheses.clip=Convert into '%s'.
# Declaring
exception.inheritance=Extend from class 'Exception'.
lowercase.hex=Use hexadecimal '%s'.
unnecessary.abstract=Omit 'abstract' modifier.
# Formatting
file.size=Reduce file size to '%d'.
# Naming
abbreviation.as.word=Rename abbreviation to '%s'.
generic.name=Use single uppercase letter.
meaningless.word.all=Avoid meaningless word '%s'.
meaningless.word.util=Rename utility class to '%s'.
# Ordering
common.function.position=Move '%s' to last.
inner.class.position=Move inner class to the bottom.
member.order=Arrange '%s' before '%s'.
named.import.order=Import '%s' before '%s'.
# Spacing
case.separator.missing=Add blank line after multiline branch.
case.separator.unexpected=Remove blank line after single-line branch.
comment.space=Put one space after '#'.
member.separator=Add blank line after '%s'.
# Stating
nested.if.else.invert=Invert 'if' condition.
nested.if.else.lift=Lift 'else' and add 'return' in 'if' block.
redundant.default=Omit redundant 'case _' condition.
unnecessary.switch=Replace 'match' with 'if' condition.
unnecessary.blank.line.after.colon=Remove blank line after ':'.
unnecessary.initial.blank.line=Remove blank line at the beginning.
# Trimming
block.comment.trim.first=Remove blank line after '"""'.
block.comment.trim.last=Remove blank line before '"""'.
comment.trim=Remove blank line after '#'.
duplicate.blank.line=Remove consecutive blank line.
duplicate.blank.line.in.block.comment=Remove consecutive blank line in '"""'.
duplicate.blank.line.in.comment=Remove consecutive blank line after '#'.
duplicate.space=Remove consecutive space.
parentheses.trim.first=Remove blank line after '%s'.
parentheses.trim.last=Remove blank line before '%s'.
# Wrapping
parameter.wrap=Break each parameter into newline.
