[default]
import.style.group=Group multiple imports with from the same package
import.style.parentheses=Use parentheses on multiline import.
todo.comment.keyword=Capitalize keyword '%s'.
todo.comment.separator=Omit separator '%s'.
trailing.comma.single=Remove trailing comma.
trailing.comma.multi=Put trailing comma.
# Clipping
block.comment.clip=Convert into single-line.
parentheses.clip=Convert into '%s'.
# Declaring
internal.error=Extend from class 'Exception'.
lowercase.hexadecimal=Use hexadecimal '%s'.
unnecessary.abstract=Omit 'abstract' modifier.
# Expressing
# Formatting
# Naming
abbreviation.as.word=Rename abbreviation to '%s'.
generic.name=Use pascal-case name.
meaningless.word.all=Avoid meaningless word '%s'.
meaningless.word.util=Rename utility class to '%s'.
# Ordering
common.function.position=Move '%s' to last.
inner.class.position=Move inner class to the bottom.
member.order=Arrange '%s' before '%s'.
named.import.order=Import '%s' before '%s'.
# Spacing
case.separator.missing=Add blank line after multiline branch.
case.separator.unexpected=Remove blank line after single-line branch.
comment.spaces=Put one space after '#'.
member.separator=Add blank line after '%s'.
# Stating
complicated.assignment=Use assignment operator '%s'.
lonely.case=Replace 'match' with 'if' condition.
lonely.if=Replace 'else' with 'else if' condition.
nested.if.else.invert=Invert 'if' condition.
nested.if.else.lift=Lift 'else' and add 'return' in 'if' block.
redundant.default=Omit redundant 'case _' condition.
unnecessary.continue=Last 'continue' is not needed.
unnecessary.blank.line.after.colon=Remove blank line after ':'.
unnecessary.leading.blank.line=Remove blank line at the beginning.
# Testing
complicated.assertion=Use assertion '%s'.
confusing.assertion=Omit negation and replace assertion with '%s'.
# Trimming
block.comment.trim.first=Remove blank line after '"""'.
block.comment.trim.last=Remove blank line before '"""'.
comment.trim=Remove blank line after '#'.
duplicate.blank.line=Remove consecutive blank line.
duplicate.blank.line.in.block.comment=Remove consecutive blank line in '"""'.
duplicate.blank.line.in.comment=Remove consecutive blank line after '#'.
duplicate.space=Remove consecutive whitespace.
parentheses.trim.first=Remove blank line after '%s'.
parentheses.trim.last=Remove blank line before '%s'.
# Wrapping
parameter.wrap=Break each parameter into newline.
