/* MkDocs base colors */
#primary {
  color: var(--md-primary-fg-color);
}
#accent {
  color: var(--md-accent-fg-color);
}

/* Brand colors */
#light {
  color: #aaa;
}
#dark {
  color: #666;
}
#android {
  color: #34a853;
}
#google {
  color: #4285f4;
}
#gradle {
  color: #02303a;
}
#groovy {
  color: #4298b8;
}
#kotlin {
  color: #7f52ff;
}
#openjdk {
  color: #ed8b00;
}
#oracle {
  color: #ed1d25;
}
#python {
  color: #ffde57;
}
#ktlint {
  color: #FF4081;
}

/* Custom admonition */
.md-typeset .admonition.features1,
.md-typeset details.features1,
.md-typeset .admonition.features2,
.md-typeset details.features2,
.md-typeset .admonition.legend,
.md-typeset details.legend,
.md-typeset .admonition.download,
.md-typeset details.download,
.md-typeset .admonition.integration,
.md-typeset details.integration {
  border-color: rgb(2, 166, 242);
}

.md-typeset .features1 > .admonition-title,
.md-typeset .features1 > summary,
.md-typeset .features2 > .admonition-title,
.md-typeset .features2 > summary,
.md-typeset .legend > .admonition-title,
.md-typeset .legend > summary,
.md-typeset .download > .admonition-title,
.md-typeset .download > summary,
.md-typeset .integration > .admonition-title,
.md-typeset .integration > summary {
  background-color: rgba(2, 166, 242, 0.1);
}

.md-typeset .features1 > .admonition-title::before,
.md-typeset .features1 > summary::before {
  background-color: rgb(255, 193, 5);
  -webkit-mask-image: var(--md-admonition-icon--features1);
    mask-image: var(--md-admonition-icon--features1);
}
.md-typeset .features2 > .admonition-title::before,
.md-typeset .features2 > summary::before {
  background-color: rgb(255, 193, 5);
  -webkit-mask-image: var(--md-admonition-icon--features2);
    mask-image: var(--md-admonition-icon--features2);
}
.md-typeset .legend > .admonition-title::before,
.md-typeset .legend > summary::before {
  background-color: rgb(255, 193, 5);
  -webkit-mask-image: var(--md-admonition-icon--legend);
    mask-image: var(--md-admonition-icon--legend);
}
.md-typeset .download > .admonition-title::before,
.md-typeset .download > summary::before {
  background-color: rgb(255, 193, 5);
  -webkit-mask-image: var(--md-admonition-icon--download);
    mask-image: var(--md-admonition-icon--download);
}
.md-typeset .integration > .admonition-title::before,
.md-typeset .integration > summary::before {
  background-color: rgb(255, 193, 5);
  -webkit-mask-image: var(--md-admonition-icon--integration);
    mask-image: var(--md-admonition-icon--integration);
}
