[default]
block.tag.punctuation=End '{}' with a period.
todo.comment.keyword=Capitalize keyword '{}'.
todo.comment.separator=Omit separator '{}'.
# Clipping
parentheses.clip=Convert into '{}'.
# Declaring
lowercase.f=Tag float literal by 'f'.
uppercase.l=Tag long literal by 'L'.
# Formatting
empty.file=Delete the empty file.
file.size=Reduce file size to '{}'.
final.newline=Put a blank line at the end of the file.
indent.style=Indent with '{}' spaces.
line.length=Code exceeds max line length '{}'.
# Naming
abbreviation.as.word=Rename abbreviation to '{}'.
class.name=Rename class to '{}'.
file.name=Rename file to '{}'.
identifier.name=Rename identifier to '{}'.
illegal.variable.name=Use descriptive name.
generic.name=Use common generics '{}'.
meaningless.word=Avoid meaningless word '{}'.
package.name=Rename package to '{}'.
# Ordering
import.order.sort=Arrange directive '{}' before '{}'.
import.order.join=Remove blank line before directive '{}'.
inner.class.position=Move inner class to the bottom.
member.order=Arrange '{}' before '{}'.
# Spacing
block.comment.spaces.single.start=Add space after '/**'.
block.comment.spaces.single.end=Add space before '*/'.
block.comment.spaces.multi=Add space after '*'.
block.tag.indentation=Indent block tag description by '4 spaces'.
case.separator.missing=Add blank line after multiline branch.
case.separator.unexpected=Remove blank line after single-line branch.
comment.space=Put one space after '//'.
member.separator=Add blank line after '{}'.
# Stating
illegal.catch=Catch a narrower type.
illegal.throw=Throw a narrower type.
redundant.default=Omit redundant 'default' condition.
redundant.else=Omit redundant 'else' condition.
unnecessary.switch=Replace 'switch' with 'if' condition.
# Trimming
block.comment.trim.first=Remove blank line after '/**'.
block.comment.trim.last=Remove blank line before '*/'.
comment.trim=Remove blank line after '//'.
duplicate.blank.line=Remove consecutive blank line.
duplicate.blank.line.in.block.comment=Remove consecutive blank line in '*'.
duplicate.blank.line.in.comment=Remove consecutive blank line after '//'.
duplicate.space=Remove consecutive space.
parentheses.trim.first=Remove blank line after '{}'.
parentheses.trim.last=Remove blank line before '{}'.
# Wrapping
assignment.wrap=Break assignment into newline.
chain.call.wrap.missing=Put newline before '.'.
chain.call.wrap.unexpected=Omit newline before '.'.
operator.wrap.missing=Put newline after operator '{}'.
operator.wrap.unexpected=Omit newline before operator '{}'.
parameter.wrap=Break each parameter into newline.
